pypiwin32
beautifulsoup4
PyQt5
requests
rich
dhooks
pyinstaller
python-socketio
flaskwebgui
nicegui==1.2.2
datetime
opencv-python
pyttsx3
pynput
browser_cookie3
crypto
tabulate
Pillow
WMI
discord
psutil
pycryptodome
mss
pygame
keyboard
pyperclip
pyzipper
