pypiwin32
beautifulsoup4
PyQt5
requests
rich
dhooks
pyinstaller>=5.12
python-socketio
flaskwebgui
nicegui
datetime
opencv-python
pyttsx3
pynput
browser_cookie3
crypto
tabulate
Pillow
WMI
discord
psutil
pycryptodome
